/* HTML RESET  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Raleway', sans-serif;
	height: 100vh;
	margin:0;
   	padding:0 0 3rem 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	padding: 0.5rem 1rem;
	border-radius: 8px;
	margin: 0.5rem;
}
/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500;800&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  text-justify: inter-cluster;
  font-size: 16px;
}

.desktop-show {
	display: none;
}

.containers{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	position:relative;
}

/* NAVBAR */

.navbar {
  background-color: rgba(108, 247, 108, 0.678);
  z-index: 1;
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  text-align: right;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.445);
}


.nav-link:hover {
	font-weight: bold;
	border-radius: 5px;
	transition: 1s;
	margin: 0.5rem;
}

.logout {
	border:none;
	background-color: none;
	background: none;
	text-align: end;
}

.logo-navbar {
	width: 4.5rem;
	height: auto;
}

/* HOME PAGE */

.carousel-caption h5 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 28px black;
}
.carousel-caption  {
  font-size: 1rem;
  text-shadow: 2px 2px 28px black;
  font-family: 'Raleway', sans-serif;
}

.carousel-inner{
	height: 100%;
	width: 100%;
}

.carousel {
	height: 15rem;
}

.button {
	display: inline-block;
	border-radius: 10px;
	background-color: black;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 40px;
	-webkit-box-shadow: 9px 9px 33px 3px rgba(28,26,28,0.62);
	-moz-box-shadow: 9px 9px 33px 3px rgba(28,26,28,0.62);
	box-shadow: 9px 9px 33px 3px rgba(28,26,28,0.62);
  }

  .button span {
	color: white;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }

  .button span:after {
  content: '\00bb';  /* Entidades CSS. Para usar entidades HTML, use &#8594;*/
  position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }

  .button:hover span {
	padding-right: 25px;
  }

  .button:hover span:after {
	opacity: 1;
	right: 0;
  }

  .link{
	  color: white;
  }

  .link:hover{
	  color: white;
	  text-decoration: none;
  }

  .container{
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
  }


  /* Footer */

  footer{
	position: relative;
	bottom: 0;
	width: 100%;
	color: #040404;
	height: 3rem;
	display: inline-block;
	}

	
	
.bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color:  rgba(68, 192, 68, 0.815);
	}
  .bottom center{
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	}

  .bottom center span{
	color: black;
  }
  .bottom center span a{
	text-decoration: none;
  }
  
  .bottom center a:hover{
	text-decoration: underline;
  }

/* LOGIN */

.login-title {
	text-align: center;
	font-size: 2.5rem;
	padding: 2rem 0 3rem;
}

.login-form {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.login-form label {
padding: 1rem 0;
}

.login-form input {
	margin: 1rem 1rem 2rem;
}

.login-button {
	padding: 0.5rem 1rem;
	margin-top: 1rem;
}

/* SIGN UP  */

.signup-title {
	text-align: center;
	font-size: 2.5rem;
	padding: 2rem 0 3rem;
}

/* .signup-form div {
	display: flex;
	flex-direction: column;
	text-align: center;
} */

.signup-form label {
	padding: 0.5rem 0;
}
	
.signup-form input {
	margin: 1rem 1rem 2rem;
}
	
.signup-button {
	padding: 0.5rem 1rem 0;
	margin: 1rem 0 0 0;
}
.signup-button-div {
	padding: 0 2rem;
}

.invalid-feedback{
	display: inline;
}

#weight {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#weight input {
	width: 20%;
}

#weight label {
	width: 20%;
}




.sign-up{
	background: url("/images/fondo-signup.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.8;
	width: 100%;
	height: 100%;
}

/* PROFILE */

.perfil{
	background: url(/images/fondo-perfil.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.8;
}

.profile-container{
	padding: 20px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
  }
  
.profile{
	display: flex;
	flex-direction: column;
	/* position: relative; */
	max-width: 600px;
	padding: 50px;
	background: rgba(255, 255, 255);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5); 
	color: black; 
	text-align: center;
  }

.profile-image {
	border-radius: 50%;
	width: 10rem;
	margin: 2rem 0;
}

.profile-edit {
	width: 1.5rem;
}

.profile-text {
	padding: 2.5rem;
	text-align: left;
	margin: 0 2rem;
	width: 100%;
}

/* EDIT PROFILE  */
.edit-profile-title {
	text-align: center;
	font-size: 2.5rem;
	padding: 2rem 0 3rem;
}

.edit-profile-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.edit-profile-form div {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.edit-profile-form label {
	padding: 0.5rem 0;
}
	
.edit-profile-form input {
	margin: 1rem 1rem 2rem;
}
	
.edit-profile-button {
	padding: 0.5rem 1rem 0;
	margin: 1rem 0 0 0;
}

#edit-weight {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#edit-weight input {
	width: 20%;
}

#edit-weight label {
	width: 20%;
}

/* FAVOURITES */

.favourite-title {
	text-align: center;
	font-size: 2.5rem;
	padding: 2rem 0 3rem;
}

/* ADD NEW VIDEO */

.add-video-title {
	text-align: center;
	font-size: 2.5rem;
	padding: 2rem 0 3rem;
}

.add-video-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.add-video-form-div {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.add-video-form label {
	padding: 0.5rem 0;
}
	
.add-video-form input{
	margin: 1rem 1rem 2rem;
}
	
.add-video-button {
	padding: 0.5rem 1rem;
	margin: 1rem 0 0 0;
	width: 8rem;
	text-align: center;
	align-content: center;
}
.add-video-button-div {
	display: flex;
	justify-content: center;
}

.add-video-form select {
width: 8.5rem;
}

.add-video-selectors {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1rem 2rem;
}

/* ALL EXERCISES */
.exercise-list-title {
	text-align: center;
	font-size: 2.5rem;
	padding: 2rem 0 3rem;
}
.exercise-list-container {
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.link-no-style {
text-decoration: none;
color: darkgreen;

}

.link-no-style:hover {
	font-weight: bolder;
	color: darkgreen;
	text-decoration: none;
}

.all-videos-icons {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}

.search{
	width: 25%;
	border-radius: 20px;
	height: 40px;
	background-color: rgba(128, 128, 128, 0.205); 
	padding: 0 15px;
	box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.445);
}

.input-icons i { 
	position: absolute; 
	padding: 1rem;
} 
  
.container-2{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

/* EXERCISE DETAILS */

.exercise-details-title {
	text-align: center;
	font-size: 2.5rem;
	padding: 2rem 0 3rem;
}
.exercise-details-container {
	width: 100%;
	padding: 1rem;
}

.exercise-details-container p,h3 {
	padding: 0.5rem 0;
	font-size: 18px;
}

.exercise-details-container h3 {
	padding: 0 0 1rem 0;
	font-size: 20px;
}

.link-no-style:hover {
	font-weight: bolder;
}

.icon-video {
	width: 15px;
}

.icon-like {
	width: 25px;
}

.icon-video-smaller {
	width: 10px;
}

.details-player {
	max-width: 100%;
	max-height: 100%;
	background-size: contain;
	-webkit-background-size:contain;
}

/* FAQ */

.faq-card {
	text-decoration: none;
	padding: 1rem 0;
	border: none;
}

.faq-title-text {
	color: rgb(46, 46, 46);
}

.faq-title-text:hover {
	color: black;
}

/* CALENDAR */

.calendar-weekday {
	background-color: rgba(69, 235, 69, 0.226);
}

.calendar-table {
	margin-top: 1rem;
	width: 100%;
}

.calendar-table td {
	margin-top: 1rem;
	width: 10%;
}

.desktop-calendar-container {
	padding: 3rem;
}

.calendar-week {
	text-align: center;
	background-color: rgba(155, 167, 166, 0.205);
}

.calendar-legs {
	background-color: rgba(54, 176, 247, 0.473);
}

.calendar-arms {
	background-color: rgba(241, 255, 47, 0.185);
}

.calendar-abs {
	background-color: rgba(170, 5, 170, 0.199);
}

.calendar-cardio {
	background-color: rgba(255, 192, 203, 0.219);
}

.calendar-back {
	background-color: rgba(0, 128, 0, 0.226);
}

.calendar-weekend {
	background-color: rgba(128, 128, 128, 0.11);
}


/* CREATED */

.exercise-created-container{
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.exercise-list-container {
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.favo-videos-icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	}


@media screen and (min-width: 700px){
.desktop-show {
	display: none;
}

/* HOME */

.details-player {
	width: 100%;
	height: 100%;
}

.carousel-caption h5 {
	font-size: 2.5rem;
	text-shadow: 2px 2px 28px black;
}

.carousel-caption  {
	font-size: 1.8rem;
	text-shadow: 2px 2px 28px black;
	margin-bottom: 0rem;
}

.carousel-inner{
	height: 100%;
	width: 100%;
}

.ole {
	height: 37rem;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
  

/* ADD NEW VIDEO */
.add-video-container {
	margin: 0 20%;
}

/* ALL EXERCISES */

.exercise-list-container-tablet {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	
}

.exercise-list-container {
	width: 40%;
	height:100%;
}

/* EXERCISE DETAILS */

.exercise-details-container-tablet {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.exercise-details-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.exercise-details-container p,h3 {
	width: 100%;
}

/* FAVOURITES */
.exercise-favourite-container-tablet {
	padding: 1rem;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
}

.exercise-favourite-container{
	display: flex;
	flex-direction: row;
	align-items:  flex-start;
	text-align: left;
	width: 100%;
	height: 100%;
	padding: 1rem;
}

.exercise-favourite-container-p {
	padding: 0.5rem 0;
}

.exercise-favourite-container h3 {
	padding: 0.5rem 0;
}

.video-fav {
	width: 45%;
	padding: 0 1rem;
}

/* CREATED */
.exercise-created-container-tablet {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.exercise-created-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	width: 40%;
	height: 100%;
	padding: 1rem;
}



}

 @media screen and (min-width: 1000px){
.mobile-show {
	display: none;
}

.desktop-show {
	display: initial;
}

.carousel-caption h5 {
	font-size: 4rem;
	margin-bottom: 2rem;
	text-shadow: 2px 2px 28px black;
 }

 .carousel-caption  {
	font-size: 3.5rem;
	text-shadow: 2px 2px 28px black;
	margin: 100px 0;
}

.carousel {
	height: 50rem;
}




  /*FAQ*/
  .faq-desktop-item {
	width: 20rem;
	margin: 1rem;
	border: 1px solid black;
	border-radius: 1rem;
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.473);
	height: 20rem;
  }

  .faq-desktop-container {
	  display: flex;
	  justify-content: center;
	  background-image: url(/images/gym-arrow.jpg);
	  background-size: 100%;
	  background-position: center;
	  background-repeat: no-repeat;
	  height: 100%;
	  background-size: cover;
  }

  .faq-desktop-item h2 {
	  padding: 0.7rem 0;
	  font-size: 20px;
	  font-weight: bold;
  }

  .faq-desktop-item p {
	padding: 1rem 0;
	font-size: 18px;
	margin-bottom: 1rem;
}

/* NAVBAR */

.navbar {
	height: 3rem;
  }

.nav-link {
	padding: 1rem 0;
	display: flex;
	align-items: center;
	z-index: 1;
}

  /* ADD NEW VIDEO */
  .add-video-container {
	margin: 0 32%;
}

/* ALL EXERCISES */

.exercise-list-container {
	width: 30%;
}

/* EXERCISE DETAILS */

.exercise-details-container {
	margin: 0 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.exercise-details-container p,h3 {
	padding: 0.5rem 0;
	font-size: 18px;
}

.exercise-details-container h3 {
	padding: 0 0 1rem 0;
	font-size: 20px;
}

.icon-video {
	width: 25px;
}

.icon-video-smaller {
	width: 20px;
}


/* FAVOURITES */

.video-fav {
	width: 100%;
	padding: 0 1rem;
}

.favourite-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10%;
}

/* CALENDAR */

.calendar-weekday {
	background-color: rgba(69, 235, 69, 0.226);
}

.calendar-table {
	margin-top: 1rem;
	width: 100%;
}

.calendar-table td {
	margin-top: 1rem;
	width: 10%;
}

.calendar-container {
	display: flex;
	justify-content: center;
}

.calendar-legs {
	background-color: rgba(54, 176, 247, 0.473);
}

.calendar-arms {
	background-color: rgba(241, 255, 47, 0.185);
}

.calendar-abs {
	background-color: rgba(170, 5, 170, 0.199);
}

.calendar-cardio {
	background-color: rgba(255, 192, 203, 0.219);
}

.calendar-back {
	background-color: rgba(0, 128, 0, 0.226);
}

.calendar-weekend {
	background-color: rgba(128, 128, 128, 0.11);
}


/* TEST DE FORMULARIOS */
form{
	width:500px;
	padding: 30px;
	border-radius:10px;
	margin: auto;
	background:rgba(255, 255, 255, 0.9);
	margin-bottom: 0px;
}

form label{
	width:70px;
	font-weight:bold;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]{
	width: 100%;
	padding:3px 10px;
	border:1px solid black;
	border-radius:3px;
	background-color: skyblue;
	margin:8px 0;
	display:inline-block;
}

form input[type="number"]{
	width: 20%;
	margin-top: 30px;
	border-radius:3px;
	display:inline-block;
	border:1px solid #f6f6f6;
	background-color:#f6f6f6;
}

form input[type="submit"]{
	width: 100%;
	padding:8px 16px;
	margin-top: 32px;
	margin-left: 0px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form p{
	text-align: center;
}

form input[type="submit"]:hover{
	cursor:pointer;
}
  }

