/* HTML RESET  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Raleway', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	padding: 0.5rem 1rem;
	border-radius: 8px;
	margin: 0.5rem;
}
/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500;800&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

.containers{
	margin: 0;
	padding: 0;
	height: 100%;
}

/* NAVBAR */

.navbar {
  background-color: rgba(108, 247, 108, 0.678);
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  text-align: right;
}

.logout {
	border:none;
	background-color: none;
	background: none;
	text-align: end;
}


/* HOME PAGE */

.carousel-caption h5 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 28px black;
}
.carousel-caption  {
  font-size: 1rem;
  text-shadow: 2px 2px 28px black;
  font-family: 'Raleway', sans-serif;
}

.carousel-inner{
	height: 100%;
	width: 100%;
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: blue;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 40px;
	-webkit-box-shadow: 9px 9px 33px 3px rgba(28,26,28,0.62);
	-moz-box-shadow: 9px 9px 33px 3px rgba(28,26,28,0.62);
	box-shadow: 9px 9px 33px 3px rgba(28,26,28,0.62);
  }

  .button span {
	color: white;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }

  .button span:after {
  content: '\00bb';  /* Entidades CSS. Para usar entidades HTML, use &#8594;*/
  position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }

  .button:hover span {
	padding-right: 25px;
  }

  .button:hover span:after {
	opacity: 1;
	right: 0;
  }

  .link{
	  color: white;
  }

  .link:hover{
	  color: white;
	  text-decoration: none;
  }

  .container{
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
  }


  /* Footer */

  footer{
	/*position: fixed;*/
	bottom: 0px;
	width: 100%;
	color: #040404;
  }
  .bottom center{
	padding: 5px;
	font-size: 20px;
	background-color:  rgba(68, 192, 68, 0.815);
  }
  .bottom center span{
	color: black;
  }
  .bottom center span a{
	color: ;
	text-decoration: none;
  }
  
  .bottom center a:hover{
	text-decoration: underline;
  }



  @media screen and (min-width: 700px){
	.carousel-caption h5 {
		font-size: 2.5rem;
		margin-bottom: 2rem;
		text-shadow: 2px 2px 28px black;
	}
	.carousel-caption  {
		font-size: 1.8rem;
		text-shadow: 2px 2px 28px black;
	}
	.carousel-inner{
		height: 60%;
		width: 100%;
	}

	.container{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
  }

  @media screen and (min-width: 1000px){
	.carousel-caption h5 {
		font-size: 4rem;
		margin-bottom: 2rem;
		text-shadow: 2px 2px 28px black;
	  }
	  .carousel-caption  {
		font-size: 3.5rem;
		text-shadow: 2px 2px 28px black;
	  }
  }
/* LOGIN */

.login-title {
	text-align: center;
	font-size: 2.5rem;
	padding: 2rem 0 3rem;
}

.login-form {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.login-form label {
padding: 1rem 0;
}

.login-form input {
	margin: 1rem 1rem 2rem;
}

.login-button {
	padding: 0.5rem 1rem;
	margin-top: 1rem;
}

/* SIGN UP  */

.signup-title {
	text-align: center;
	font-size: 2.5rem;
	padding: 2rem 0 3rem;
}

.signup-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.signup-form div {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.signup-form label {
	padding: 0.5rem 0;
}
	
.signup-form input {
	margin: 1rem 1rem 2rem;
}
	
.signup-button {
	padding: 0.5rem 1rem 0;
	margin: 1rem 0 0 0;
}
.signup-button-div {
	padding: 0 2rem;
}

#weight {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#weight input {
	width: 20%;
}

#weight label {
	width: 20%;
}

/* PROFILE */

.profile-image {
	border-radius: 50%;
	width: 10rem;
	margin: 2rem 0;
}

.profile-edit {
	width: 1.5rem;
}

.profile-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile-text {
	padding:1.5rem;
	text-align: left;
	margin: 0 2rem;
	width: 100%;
}

/* ADD NEW VIDEO */

.add-video-title {
	text-align: center;
	font-size: 2.5rem;
	padding: 2rem 0 3rem;
}

.add-video-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.add-video-form-div {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.add-video-form label {
	padding: 0.5rem 0;
}
	
.add-video-form input{
	margin: 1rem 1rem 2rem;
}
	
.add-video-button {
	padding: 0.5rem 1rem;
	margin: 1rem 0 0 0;
	width: 8rem;
	text-align: center;
	align-content: center;
}
.add-video-button-div {
	display: flex;
	justify-content: center;
}

.add-video-form select {
width: 8.5rem;
}

.add-video-selectors {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1rem 2rem;
}
